
.tabPer{
    width: 1250px;
    height: 500px;
}
.metaisA{
    width: 70px;
    height: 450px;
   
    float: left;
    position: relative;
    left: -8px;
}
.metaisAT{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
    left: -8px;
}
.metaisTR{
    width: 691px;
    height: 300px;
 
    float: left;
    position: relative;
    bottom: -147px;
    left: -8px;
}
.TR1{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
 
}
.TR2{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
    
}
.TR3{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
   
}
.TR4{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;

}
.TR5{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
  
}
.TR6{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
   
}
.TR7{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
 
}
.TR8{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;

}
.TR9{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
   
}
.TR10{
    width: 70px;
    height: 500px;
    float: left;
    position: relative;
    left: 630px;
    top: -500px;
}
.fBORO{
    width: 70px;
    height: 500px;
   
    float: left;
    position: relative;
    left: 1px;
}
.fCAR{
    width: 70px;
    height: 500px;

    float: left;
    position: relative;
    left: 1px;
}
.fNIT{
    width:70px;
    height: 500px;
 
    float: left;
    position: relative;
    left: 1px;
}
.cal{
    width: 70px;
    height: 500px;
  
   position: relative;
   left: 1px;
    float: left;
}
.hal{
    width: 70px;
    height: 500px;
    position: relative;  
    left: 1px;
    float: left;
}
.gn{
    width: 69px;
    height: 500px;
    position: relative;
    left: 1px;
    float: left;
}
.lantanideos{
    width: 1038px;
    height: 69px;
    float: left;
    position: relative;
    top: -36px;
    left: 200px;
   
}
.actinideos{
    width: 1038px;
    height: 69px;
    float: left;
    position: relative;
    top: -30px;
    left: 200px;

}
.elemento{
    width: 68Px;
    height: 68px;
    display: block;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    
}
.elemento3{
    width: 68Px;
    height: 68px;
    display: block;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 2px;
    position: relative;
    float: left;
    
}
.elemento4{
    width: 68Px;
    height: 68px;
    display: block;
    border-radius: 10px;
    margin-bottom: 5px;
    margin-left: 2px;
    position: relative;
    float: left;
    left: 980px;
    top: -73px;
    
}
.elemento1{
    width: 68Px;
    height: 68px;
    display: block;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    top: 1px;
    left: 1182px;
}
.elemento2{
    width: 68Px;
    height: 68px;
    display: block;
    border-radius: 10px;
    margin-bottom: 5px;
    position: relative;
    top: 74px;
    left: -8px;
}
.corAmarelo{
    background-color: rgba(226, 226, 19, 0.982);
}
.corAmarelo:hover{
    background-color: rgb(218, 202, 35);
}
.corAzul{
    background-color: rgb(61, 152, 204);
}
.corAzul:hover{
    background-color: rgb(28, 96, 135);
}
.corVerde{
    background-color: rgb(28, 146, 28);
}
.corVerde:hover{
    background-color: rgb(14, 94, 14);
}
.corVinho{
    background-color: rgb(90, 2, 2);
}
.corVinho:hover{
    background-color: rgb(48, 2, 2);
}
.corVermelho{
    background-color: rgb(235, 5, 5);
}
.corVermelho:hover{
    background-color: rgb(151, 9, 9);
}
.corLaranja{
    background-color: rgb(255, 132, 0);
}
.corLaranja:hover{
    background-color: rgb(193, 100, 1);
}
.corRosa{
    background-color: rgb(232, 82, 179);
}
.corRosa:hover{
    background-color: rgb(201, 28, 140);
}
.corBranco{
    background-color: white;
}
.corRoxoEscuro{
    background-color: rgb(58, 6, 108);
}
.corRoxoEscuro:hover{
    background-color: rgb(36, 3, 66);
}
.corLilas{
    background-color: rgb(181, 120, 238);
}
.corLilas:hover{
    background-color:
    rgb(126, 65, 184);
}
.corPreto{
    background-color: black;
}
.numAtomico{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    display: block;
    float: left;
    position: relative;
    top: 3px;
    left: 49px;
}
.numAtomico1{
    color: white;
    font-family:'Times New Roman', Times, serif;
    display: block;
    float: left;
    position: relative;
    top: 3px;
    left: 56px;
}
.numAtomico2{
    color: white;
    font-family:'Times New Roman', Times, serif;
    display: block;
    float: left;
    position: relative;
    top: 3px;
    left: 30px;
}
.numAtomico3{
    color: white;
    font-family:'Times New Roman', Times, serif;
    display: block;
    float: left;
    position: relative;
    top: 3px;
    left: 22px;
}
.numAtomico4{
    color: white;
    font-family:'Times New Roman', Times, serif;
    display: block;
    float: left;
    position: relative;
    top: 3px;
    left: 43px;
}
.simbolo{
    color: white;
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    position: relative;
    top: 12px;
    text-align: center;
    left: -4px;
}
.simbolo2{
    color: white;
    font-size: 29px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    position: relative;
    top: -4px;
    text-align: center;
    left: -1px;
}
.nome{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    display: block;
    position:relative;
    top: 1px; 
    text-align: center;
}
.massa{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
    display: block;
    position: relative;
    top: -6px;
    text-align: center;
}
.massa1{
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 12px;
    display: block;
    position: relative;
    top: -12px;
    text-align: center;
}
.linhas1{
    width: 9px;
    height: 168px;
    border-left: 7px dashed red;
    border-bottom: 7px dashed red;
    position: relative;
    left: 181px;
    top: -174px;
}
.linhas2{
    width: 38px;
    height: 170px;
    border-left: 7px dashed rgb(90, 2, 2);
    border-bottom: 7px dashed rgb(90, 2, 2);
    position: relative;
    left: 154px;
    top: -273px;
}
.linhas1:hover{
    border-left: 7px dashed rgb(48, 2, 2);
    border-bottom: 7px dashed rgb(48, 2, 2);
}
.linhas2:hover{
    border-left: 7px dashed rgb(24, 0, 0);
    border-bottom: 7px dashed rgb(24, 0, 0);
}